@model DocSearch.Models.SetupModel

@{
    ViewBag.Title = "Setup";
}

<h2 style="margin-bottom: 30px">設定画面</h2>

<!-- クロール先フォルダの指定 -->
<div class="ds-container">
    <h4>クロール先のフォルダの指定</h4>
    @using (Html.BeginForm("SetupCrawlFolder", "Setup", FormMethod.Post))
    {
        <div class="form-group">
            <label class="control-label">クロール先のフォルダを指定して下さい。改行で複数のフォルダを指定出来ます。</label>
            @Html.TextAreaFor(m => m.CrawlFolders, new { @class = "form-control", rows = "5" })
        </div>
        <button type="submit" class="btn btn-default right">適用</button>
    }
</div>

<!-- クロール開始 -->
<div class="ds-container">
    <h4>クロール処理の開始</h4>
    @using (Html.BeginForm("StartCrawl", "Setup", FormMethod.Post))
    {
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label">クロール後の関連語学習</label>
                </div>
                <div class="col-md-2">
                   @Html.DropDownListFor(m => m.ExecMachineLearning,
                     new SelectListItem[] {
                        new SelectListItem() { Value="0", Text="しない" },
                        new SelectListItem() { Value="1", Text="する" }
                     },
                     new { @class="form-control", id="execMachineLearningOption" })
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-default" onclick="StartCrawl()">開始</button>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-default" onclick="CancelCrawl()">キャンセル</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div id="crawlProgressBar">
                    <div class="col-md-7">
                        <div class="progress progress-striped active" id="progressType">
                            <div class="progress-bar" id="progressBar" role="progressbar" style="width: 0%;">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label class="progress-rate" id="progressRate"></label>
                    </div>
                </div>
            </div>
       </div>
    }
</div>

<div class="ds-container">
    <h4>関連語学習の開始</h4>
    @using (Html.BeginForm("StartMachineLearning", "Setup", FormMethod.Post))
    {
        <div class="form-group">
            <div class="row">
                <div class="col-md-5">
                    <label class="control-label">関連語を表示する人工知能の学習の実行</label>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-default" onclick="StartMachineLearning()">開始</button>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-default" onclick="CancelMachineLearning()">キャンセル</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div id="machineLearningProgressBar">
                    <div class="col-md-7">
                        <div class="progress progress-striped active" id="progressType">
                            <div class="progress-bar" id="progressBar" role="progressbar" style="width: 0%;">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label class="progress-rate" id="progressRate"></label>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    var comNotifier;

    window.onload = function () {
        comNotifier = $.connection.comHub;

        // サーバー側からのメッセージを受信する部分
        comNotifier.client.sendMessage = function (type, message, args) {
            if (type == "PROGRESS_BAR") {
                var rate = parseInt(args[0]);
                var id = args[1];

                UpdateProgress(message, rate, id);
            }
        };

        // 接続完了時の処理
        $.connection.hub.start().done(function () {
            comNotifier.server.getMessage("", "", [""]);
        });

    };

    // プログレスバーの更新
    function UpdateProgress(message, count, id) {
        if (count < 0 || count >= 100) {
            var dispRate = 100;
            if (count == -2) {
                dispRate = 0;
            }
            $(id).find(".progress-bar").css({ 'width': dispRate + '%' });
            $(id).find(".progress-rate").html(message);

            // 処理が完了したら、プログレスバーの表示をアニメーション → 固定表示に切り替える
            if (count == 100) {
                $(id).find("#progressType").removeClass("progress-striped active");
            }

            return;
        }

        $(id).find(".progress-bar").css({ 'width': count + '%' });
        $(id).find(".progress-rate").html(count + '%');
    }

    // サーバーへのメッセージ送信
    function SendMessageToServer(type, msg, args) {
        comNotifier.server.getMessage(type, msg, args);
    }

    // クロール開始
    function StartCrawl()
    {
        var machineLearning = $("#execMachineLearningOption").val();
        var args = [machineLearning, "#crawlProgressBar"];

        SendMessageToServer("PROGRESS_BAR", "StartCrawl", args);
    }

    // クロールキャンセル
    function CancelCrawl()
    {
        SendMessageToServer("PROGRESS_BAR", "CancelCrawl", [""]);
    }

    // 機械学習開始
    function StartMachineLearning()
    {
        var args = ["#machineLearningProgressBar"];

        SendMessageToServer("PROGRESS_BAR", "StartMachineLearning", args);
    }

    // 機械学習キャンセル
    function CancelMachineLearning() {
        SendMessageToServer("PROGRESS_BAR", "CancelMachineLearning", [""]);
    }
</script>