@model DocSearch.Models.SetupModel

@{
    ViewBag.Title = "Setup";
}

<h2 style="margin-bottom: 30px">設定画面</h2>

<!-- クロール先フォルダの指定 -->
<div class="ds-container">
    <h4>クロール先のフォルダの指定</h4>
    @using (Html.BeginForm("SetupCrawlFolder", "Setup", FormMethod.Post))
    {
        <div class="form-group">
            <label class="control-label">クロール先のフォルダを指定して下さい。改行で複数のフォルダを指定出来ます。</label>
            @Html.TextAreaFor(m => m.CrawlFolders, new { @class = "form-control", rows = "5" })
        </div>
        <button type="submit" class="btn btn-default right">適用</button>
    }
</div>

<!-- クロール開始 -->
<div class="ds-container">
    <h4>クロール処理の開始</h4>
    @using (Html.BeginForm("StartCrawl", "Setup", FormMethod.Post))
    {
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label">クロール後の関連語学習</label>
                </div>
                <div class="col-md-2">
                   @Html.DropDownListFor(m => m.ExecMachineLearning,
                     new SelectListItem[] {
                        new SelectListItem() { Value="0", Text="しない" },
                        new SelectListItem() { Value="1", Text="する" }
                     },
                     new { @class="form-control", id="execMachineLearningOption" })
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-default" onclick="ShowProgressBar('#crawlProgressBar')">開始</button>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-default" onclick="CancelCrawl()">キャンセル</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div id="crawlProgressBar">
                    <div class="col-md-7">
                        <div class="progress progress-striped active">
                            <div class="progress-bar" id="progressBar" role="progressbar" style="width: 0%;">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label class="progress-rate" id="progressRate"></label>
                    </div>
                </div>
            </div>
       </div>
    }
</div>

<div class="ds-container">
    <h4>関連語学習の開始</h4>
    @using (Html.BeginForm("StartMachineLearning", "Setup", FormMethod.Post))
    {
        <div class="form-group">
            <div class="row">
                <div class="col-md-5">
                    <label class="control-label">関連語を表示する人工知能の学習の実行</label>
                </div>
            </div>
            <button type="submit" class="btn btn-default" onclick="ShowProcessingMessage('processingMessage2', '処理中です...')">開始</button>&nbsp;&nbsp;<span id="processingMessage2"></span>
        </div>
    }
</div>

<script type="text/javascript">
    var progressNotifier;

    window.onload = function () {
        progressNotifier = $.connection.progressHub;

        // サーバー側からのメッセージを受信する部分
        progressNotifier.client.sendMessage = function (message, count) {
            UpdateProgress(message, count, '#crawlProgressBar');
        };

        // 接続完了時の処理
        $.connection.hub.start().done(function () {
            progressNotifier.server.getMessage("");
        });

    };

    function ShowProgressBar(id)
    {
        StartInvoicing(id);
    }

    function CancelCrawl()
    {
        SendMessageToServer("CancelCrawl");
    }

    function StartInvoicing(id) {
        // サーバー側からのメッセージを受信する部分
        progressNotifier.client.sendMessage = function (message, count) {
            UpdateProgress(message, count, '#crawlProgressBar');
        };

        //// 接続完了時の処理
        //$.connection.hub.start().done(function () {
        //    progressNotifier.server.getMessage("");
        //});
    }

    function UpdateProgress(message, count, id) {
        if (count == -1) {
            $(id).find(".progress-bar").css({ 'width': 100 + '%' });
            $(id).find(".progress-rate").html('処理中です...');
        }

        $(id).find(".progress-bar").css({ 'width': count + '%' });
        $(id).find(".progress-rate").html(count + '%');
    }

    // サーバーへのメッセージ送信
    function SendMessageToServer(msg)
    {
        progressNotifier.server.getMessage(msg);
    }
</script>

<!-- 応答メッセージ -->
@{
    if (Model.ProcessFinished)
    {
        <script type="text/javascript">
            alert('@Model.Message');
        </script>
    }
}